<p>You left yourself a time capsule on {{create_date}} that recently unlocked on {{unlock_date}}.</p>
<p>View your time capsule message <a href="{{link}}">here</a></p>
<p>If you did not leave yourself a time capsule, ignore this message.</p>