body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.wrapper {
  max-width: 500px;
}

.top-label {
  margin-bottom: 0px;
}

.full-width {
  width: 100%;
}

#duration_slider {
  float: left;
	margin-top: 10px;
}

#duration {
  float: left;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
}

#submit {
  float: right;
	margin-top: 5px;
}

.right-label {
  float:right;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.help-icon {
    color:#fff;
    background-color:#a3a3a3;
    width:12px;
    height:12px;
    display:inline-block;
    border-radius:100%;
    font-size:10px;
    text-align:center;
    text-decoration:none;
    -webkit-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: inset -1px -1px 1px 0px rgba(0,0,0,0.25);
    margin-left: 5px;
    bottom: 2px;
}